<div class="w-full flex justify-between items-start border-b-2 border-gray-200 py-4"">
  <div class="flex gap-3 flex-col">
    <h3 class="text-lg font-bold text-gray-400"">{{job['title']}}</h3>
    <h4 class="text-base font-bold"">Location: <span class="font-medium">{{job['location']}}</span></h4>
    <h4 class="text-base font-bold "">Salary: <span class="font-medium">{{job['salary']}}</span></h4>
  </div>
  <button class="p-2 bg-blue-500 text-white rounded-lg hover:bg-transparent hover:border 
 hover:border-blue-500 duration-100 hover:text-blue-500" ">Apply Now</button>
</div>